@import "tailwindcss";

@font-face {
    font-family: "Jose";
    src: url("../font/JosefinSans-VariableFont_wght.woff2");
}

@custom-variant dark (&:where(.dark, .dark *)); 
@custom-variant light (&:where(.light, .light *)); 




@theme { 
    --font-josefinSans: "Jose"; 
    --body-bg: #fafafa; 
    --input-bg: #ffffff; 
    --tasks-bg: #ffffff;
     
}

.light { 
    --body-bg: #fafafa; 
    --input-bg: #ffffff; 
    --tasks-bg: #ffffff;
}

.dark { 
    --body-bg: #161622; 
    --input-bg: #191622; 
    --tasks-bg: #25273C; 
}




